.article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 24px;
	max-width: var(--content-width, 1394px);
	margin: 0 auto;
	padding: 72px 0 144px;
	background-color: var(--background-color, #ffffff);
	color: var(--font-color, #000000);
	font-family: var(--font-family, 'Open Sans'), sans-serif;
	font-size: var(--font-size, 18px);
}

.article * {
	color: var(--font-color, #000000);
	font-family: var(--font-family, 'Open Sans'), sans-serif;
	font-size: var(--font-size, 18px);
}

.titleDescription {
	max-width: 550px;
}

.image {
	width: 100%;
	height: auto;
	margin-top: 26px;
}