.container {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	width: 360px;
	height: 100vh;
	background-color: #ffffff;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
}

.container_open {
	transform: translateX(0);
}
